nav{
    &.top-nav{
        position:relative;
        z-index:50;
        ul{
            list-style:none;
            margin-left:0px;
            width:100%;

            left:0;
            position:absolute;
            top:0;
        }
        li{
            position:relative;
            width:100%;
        }
        &>ul{
            display:flex;
            flex-flow:row nowrap;
        }
        &>ul>li {flex: 0 0 200px;}
        li>ul{
            box-shadow: 2px  2px 3px #999;
            display:none;

            left:100%;
            top:0;
        }
        li:hover>ul{display:block;}
        &>ul>li>ul{
            left:0;
            top:100%;
        }
    }
    &.side-nav{}
}
